.urlText {
    font-size: 0.75em;
    font-style: italic;
}

.copyToClipboard {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.VStack {
    display: flex;
    margin-top: -2px;
    margin-right: 10px;
    flex-direction: column;
    align-items: flex-start;
}