.App {
  text-align: center;
  width: 100%;
}

.banner {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.header {
  background-color:lightslategrey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color:aquamarine;
  text-align: left;
}

.header p {
  margin-right: 20px;
  margin-left: 20px;
}

.header b {
  color: aqua;
}

.logolink {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5vmax;
  color: white;
}

.logolink img {
  width: 3vmax;
  height: auto;
  margin-right: 8px;
}

.my_pic {
  height: 20vmax;
  pointer-events: none;
}

.nav_main {
  display: flex;
  width: 100%;
}

.quicktools {
  display: flex;
  flex-wrap: wrap;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-left: 40px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
