.buttons_container {
    display: flex;
    flex-direction: column;
}

.checkcircle {
    background-color: transparent; /* Ensure transparency */
    border: none; /* Remove any border */
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 15px;
}

.task {
    font-size: 1.2em;
}

.tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    background: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 100;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}